
* { margin: 0; padding: 0; box-sizing: border-box; }


header, footer {
  background-color: #1a1a1a;
  color: white;
  padding: 15px;
}

.nav ul {
    padding-left: 20px;
}

.content-wrapper {
  display: flex; 
  min-height: 80vh; 
  margin: 10px 0;
  gap: 10px;
}


.nav, .aside {
  width: 200px;
  background-color: #f1f3f5;
  padding: 20px;
}

.nav {
  border: 1px solid #e0e0e0; 
}

.main {
  flex: 1; 
  padding: 20px;
  border: 1px solid #e0e0e0;
  background-color: white;
}

.aside {
  background-color: white;
  border: 1px solid #e0e0e0;
}

.info-box {
  border: 1px dashed #74c0fc;
  background-color: #e7f5ff;
  padding: 15px;
  margin: 20px 0;
  font-size: 0.9rem;
}